@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://use.fontawesome.com/releases/v5.1.0/css/all.css');


body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  padding: 0;
  padding-bottom: 1em;
}

header {
  text-align: center;
  background-color: #60B5CC;
  padding: 2em;
  color: white;

  > *:not(:last-child) {
    margin-bottom: 1rem;
  }

  h1 {
    margin-top: 0;
    font-size: 3em;
  }

  h2 {
    margin-top: 0;
  }

  > div {
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
    font-size: 1.2em;

    > *:not(:last-child) {
      margin-right: 1.5em;
    }

    a {
      color: white;

      &:hover {
        color: #20374D;
      }
    }
  }
}

footer {
  text-align: center;
}

.wrapper {
  max-width: 500px;
  margin: 0 auto;
  padding: 2em;
}

h1 {
  margin-bottom: 0.5em;
  font-weight: normal;
}

h2 {
  font-weight: normal;
}

form.elm-form, form.elm-form-multistage {
  display: flex;
  flex-direction: column;

  .elm-form-field:not(:last-child) {
    margin-bottom: 1em;
  }

  .elm-form-field, .elm-form-list {
    display: flex;
    flex-direction: column;

    &.elm-form-field-error {
      color: red;

      input, select, textarea {
        border-color: #F88;
      }
    }

    > *:not(:last-child) {
      margin-bottom: 0.5em;
    }
  }

  .elm-form-multistage-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a.elm-form-multistage-back {
      color: #777;
      cursor: pointer;
    }
  }

  .elm-form-label {
    display: flex;
    align-items: center;

    input[type="checkbox"] {
      margin-right: 0.5em;
    }
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="number"],
  select,
  textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 0.8em;
    border: 1px solid #CCC;
    border-radius: 3px;
    background-color: #FFF;

    &:disabled {
      background-color: #CCC;
    }
  }

  input[type="radio"] {
    margin: .4rem;
  }

  textarea {
    resize: vertical;
  }

  .elm-form-range-field {
    display: flex;
    flex-direction: row;

    > input {
      flex-grow: 1;
    }

    > span {
      margin-left: 1em;
    }
  }

  div.elm-form-group {
    display: flex;
    flex-direction: row;

    > * {
      flex-grow: 1;
      flex-basis: 0;
      margin-bottom: 0;

      &:not(:last-child) {
        margin-right: 1em;
      }
    }
  }

  div.elm-form-list {
    display: flex;
    flex-direction: column;

    > .elm-form-list-item {
      position: relative;
      border: 1px solid #CCC;
      border-radius: 8px;
      padding: 20px;

      > button {
        position: absolute;
        top: 3px;
        right: 3px;
        display: flex;
        align-items: center;
        background: transparent;
        border: none;
        padding: 0.5em 0.5em;
        color: #777777;
        font-size: 1em;
        cursor: pointer;
        align-self: flex-start;

        &:hover {
          color: #B22222;
        }

        i {
          font-size: 0.8em;
          margin-left: 0.5em;
        }
      }

      &:not(:last-child) {
        margin-bottom: 1em;
      }
    }

    > button {
      display: flex;
      align-items: center;
      background: transparent;
      border: none;
      padding: 0.3em 0.8em;
      color: #34495E;
      font-size: 1em;
      cursor: pointer;
      align-self: flex-start;

      i {
        font-size: 0.8em;
        margin-right: 0.5em;
      }

      &:hover {
        color: #60B5CC;
      }
    }

    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }

  .elm-form-error {
    color: red;
  }

  .custom-email-input {
    display: flex;
    flex-direction: row;
    align-items: center;

    > *:not(:last-child) {
      margin-right: 1em;
    }

    > .fa-check {
      color: green;
    }
  }

  button[type="submit"] {
    background-color: #34495E;
    border: none;
    border-radius: 3px;
    padding: 0.5em 1em;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    align-self: flex-end;

    &:hover {
      background-color: #20374D;
    }

    &:disabled {
      cursor: default;
      background-color: #CCC;
      color: #888;
    }
  }
}

.elm-form-group {
  display: flex;
  flex-direction: row;

  > * {
    flex-grow: 1;
    flex-basis: 0;

    &:not(:last-child) {
      margin-right: 1em;
    }
  }
}

.stage h3 {
  margin: 0;
}

ul {
  > li:not(:last-child) {
    margin-bottom: 1em;
  }

  li p {
    margin-top: 0.5em;
  }
}

.tabs {
  display: flex;
  justify-content: space-between;

  button {
    padding: 0.5em;
  }

  margin-bottom: 1em;
}

pre {
  font-size: 0.8em;
  background-color: #FAFAFA;
  padding: 1em;
  overflow-x: auto;
}

legend {
  background-color: #60B5CC;
  color: #fff;
  padding: 3px 6px;
}


fieldset {
  border: 1px solid #60B5CC;
  border-radius: 5px;

  input {
    margin: .4rem;
  }

  > label {
    display: block;
  }
}
